//extends MainWindow
link(rel='stylesheet' type="text/css" href='./Board.css')
link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
script(src="/javascripts/main.js")
block body
    p Good luck! #{name}
    h1#lvlD Level: #{difficultyLvL}
        table#sudoku(align='center', cellspacing='0')
            tr
                td#cell_0_0
                    input(type='text' value=2)
                td#cell_1_0
                    input(type='text' value=9)
                td#cell_2_0
                    input(type='text' value=4)
                td#cell_3_0
                    input(type='text' value=1)
                td#cell_4_0
                    input(type='text' value=6)
                td#cell_5_0
                    input(type='text' value=7)
                td#cell_6_0
                    input(type='text' value=5)
                td#cell_7_0
                    input(type='text' value=3)
                td#cell_8_0
                    input(type='text' value=8)
            tr
                td#cell_0_1
                    input(type='text' value=8)
                td#cell_1_1
                    input(type='text' value=5)
                td#cell_2_1
                    input(type='text' value=7)
                td#cell_3_1
                    input(type='text' value=3)
                td#cell_4_1
                    input(type='text' value=2)
                td#cell_5_1
                    input(type='text' value=4)
                td#cell_6_1
                    input(type='text' value=6)
                td#cell_7_1
                    input(type='text' value=1)
                td#cell_8_1
                    input(type='text' value=9)
            tr
                td#cell_0_2
                    input(type='text' value=6)
                td#cell_1_2
                    input(type='text' value=3)
                td#cell_2_2
                    input(type='text' value=1)
                td#cell_3_2
                    input(type='text' value=9)
                td#cell_4_2
                    input(type='text' value=8)
                td#cell_5_2
                    input(type='text' value=5)
                td#cell_6_2
                    input(type='text' value=2)
                td#cell_7_2
                    input(type='text' value=7)
                td#cell_8_2
                    input(type='text' value=4)
            tr
                td#cell_0_3
                    input(type='text' value=3)
                td#cell_1_3
                    input(type='text' value=4)
                td#cell_2_3
                    input(type='text' value=5)
                td#cell_3_3
                    input(type='text' value=7)
                td#cell_4_3
                    input(type='text' value=1)
                td#cell_5_3
                    input(type='text' value=9)
                td#cell_6_3
                    input(type='text' value=8)
                td#cell_7_3
                    input(type='text' value=6)
                td#cell_8_3
                    input(type='text' value=2)
            tr
                td#cell_0_4
                    input(type='text' value=1)
                td#cell_1_4
                    input(type='text' value=6)
                td#cell_2_4
                    input(type='text' value=8)
                td#cell_3_4
                    input(type='text' value=5)
                td#cell_4_4
                    input(type='text' value=4)
                td#cell_5_4
                    input(type='text' value=2)
                td#cell_6_4
                    input(type='text' value=7)
                td#cell_7_4
                    input(type='text' value=9)
                td#cell_8_4
                    input(type='text' value=3)
            tr
                td#cell_0_5
                    input(type='text' value=9)
                td#cell_1_5
                    input(type='text' value=7)
                td#cell_2_5
                    input(type='text' value=2)
                td#cell_3_5
                    input(type='text' value=8)
                td#cell_4_5
                    input(type='text' value=3)
                td#cell_5_5
                    input(type='text' value=6)
                td#cell_6_5
                    input(type='text' value=1)
                td#cell_7_5
                    input(type='text' value=4)
                td#cell_8_5
                    input(type='text' value=5)
            tr
                td#cell_0_6
                    input(type='text' value=5)
                td#cell_1_6
                    input(type='text' value=2)
                td#cell_2_6
                    input(type='text' value=9)
                td#cell_3_6
                    input(type='text' value=6)
                td#cell_4_6
                    input(type='text' value=7)
                td#cell_5_6
                    input(type='text' value=3)
                td#cell_6_6
                    input(type='text' value=4)
                td#cell_7_6
                    input(type='text' value=8)
                td#cell_8_6
                    input(type='text' value=1)
            tr
                td#cell_0_7
                    input(type='text' value=4)
                td#cell_1_7
                    input(type='text' value=8)
                td#cell_2_7
                    input(type='text' value=6)
                td#cell_3_7
                    input(type='text' value=2)
                td#cell_4_7
                    input(type='text' value=9)
                td#cell_5_7
                    input(type='text' value=1)
                td#cell_6_7
                    input(type='text' value=3)
                td#cell_7_7
                    input(type='text' value=5)
                td#cell_8_7
                    input(type='text' value=7)
            tr
                td#cell_0_8
                    input(type='text' value=7)
                td#cell_1_8
                    input(type='text' value=1)
                td#cell_2_8
                    input(type='text' value=3)
                td#cell_3_8
                    input(type='text' value=4)
                td#cell_4_8
                    input(type='text' value=5)
                td#cell_5_8
                    input(type='text' value=8)
                td#cell_6_8
                    input(type='text' value=9)
                td#cell_7_8
                    input(type='text' value=2)
                td#cell_8_8
                    input(type='text' value=6)

    button#submit Submit
    h2#win
