doctype html
html
head
    title Sudoku
    link(rel='stylesheet' type="text/css" href='./Sudoku.css')
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='/public/javascripts/main.js')
block body
    div#boardPage
       // input#displayAll(type='checkbox')
        lable(for='displayAll')  Hello
        lable(for='displayAll')  display bombs
        div#container
    div#homePage
        form(action='/GameWindow', method='POST')
            lable(for='uname')
            h2  Start new game:
            input#uname(type='text', name='UserName', placeholder='Enter Your name')
            #radio-button1
                input#rbutton10(type='radio', name='difficulty', value='Easy')
                lable(for='rbutton10')  Easy
            #radio-button2
                input#rbutton25(type='radio', name='difficulty', value='Medium')
                lable(for='rbutton25')  Medium
            #radio-button3
                input#rbutton50(type='radio', name='difficulty', value='Hard')
                lable(for='rbutton50')  Hard
            button Start