doctype html
html
head
    title Mine Sweeper
    link(rel='stylesheet', href='./../mineSweeper.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src="/javascripts/main.js")
block body
    div#boardPage
        input#displayAll(type='checkbox')
        lable(for='displayAll')  display bombs
        div#container
    div#homePage
        form(action='/board', method='POST')
            lable(for='uname')
            h2  Name:
            input#uname(type='text', name='UserName', placeholder='Enter Your name')
            #radio-buttons
                lable(for='rbutton10')  10X10
                input#rbutton10(type='radio', name='boardSize', value='10')
                lable(for='rbutton25')  25X25
                input#rbutton25(type='radio', name='boardSize', value='25')
                lable(for='rbutton50')  50X50
                input#rbutton50(type='radio', name='boardSize', value='50')
            button Start