extends home
block body
    input#expose(type='checkbox')
    lable(for='expose') Expose table
    table
        - for (var i = 0; i < bodySize; i++)
            tr
            - for (var j = 0; j < bodySize; j++)
                td(id='location'+i+'-'+j)
                    button
